{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Cadastro de Pet
{% endblock %}

{% block corpo %}
    <section id="login" class="register d-flex container w-100 justify-content-center align-items-center">
        <div class="container register">
            <form action="" method="POST" class="mb-4 mt-5">
                {% csrf_token %}
                <h2 class="text-secondary text-center mx-auto d-block w-100 text-uppercase pb-2">Cadastro de Pet</h2>
                <div class="d-lg-flex flex-wrap justify-content-around align-content-center">
                    {% for campo in form %}
                        <div class="form-group">
                            <label for="{{ campo.id_for_label }}"
                                   class="font-weight-bold text-secondary">{{ campo.label }}
                            </label>

                            <div>
                                {{ campo }}
                                <div class="invalid-feedback">
                                    {% for error in campo.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>


                <button type="submit"
                        class="btn rounded mt-4 text-center d-block mx-auto pl-4 pr-4 pt-1 pb-1 text-white">
                    Cadastrar
                </button>
            </form>
        </div>

    </section>



{% endblock %}