{%  extends "base.html" %}
{% load static %}

{% block titulo %}
    Pesquisa de Pets
{% endblock %}

{% block corpo %}
    <div class="container">

        <form action="" method="GET" class="d-flex justify-content-center justify-content-sm-end mb-3 mt-5">
            <div class="p-1 bg-secondary rounded rounded-pill shadow-sm mb-4" style="background-color: var(--blue) !important;">
                <div class="input-group">
                    {{ form.query_string }}
                     <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-light">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                <!--
                <input type="text" name="nome" id="id_nome" class="form-control form-control-sm" maxlength="100">
                -->
            </div>
        </form>

        {% if pets %}
            <h1 class="mb-4 mt-4 text-center text-primary" style="font-size: 50px">Lista de Pets</h1>
            <table class="table-bordered table-responsive w-100 mx-auto mb-4">
                <thead>
                    <tr>
                        <th class="text-center">Imagem</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Disponível</th>
                        <th class="text-center">Sexo</th>
                        <th class="text-center">Local</th>
                        <th  class="text-center" > Ações </th>
                    </tr>
                </thead>
                <tbody>
                    {%  for pet in pets %}
                        <tr>
                            <td class="text-center align-middle" width="15%">
                                <img style="width: 150px; height: 150px; border-radius: 200px;" class="mb-2 mt-2 ml-2 mr-2" src="{% static 'images/pets/' %}{{ pet.imagem }}" alt="{{ pet.nome }}">
                            </td>
                            <td class="text-center align-middle ml-2 mr-2" >
                                {{ pet.categoria }}
                            </td>
                            <td class="text-center align-middle ml-2 mr-2">
                                {{ pet.nome }}
                            </td>
                            <td  class="text-center align-middle ml-2 mr-2">
                                {{ pet.get_disponivel }}
                            </td>
                            <td  class="text-center align-middle ml-2 mr-2">
                                {{ pet.get_sexo }}
                            </td>
                            <td class="text-center align-middle ml-2 mr-2">
                                {{ pet.cidade }} - {{ pet.estado }}
                            </td>
                            <td class="text-center align-middle d-inline-flex justify-content-center align-items-center w-100" style="height: 175px">
                                 <a href="{% url 'pet:edita_pet' pet.id %}">
                                     <i class="fas fa-edit ml-2" style="color: var(--success)"></i>
                                 </a>
                                 <form action="{% url 'pet:remove_pet' pet.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                     <button type="submit" class='text-decoration-none border-0 p-0 confirm-delete'
                                             onclick="return confirm('Deseja deletar?')" style="background: none ">
                                        <i class="fas fa-trash-alt mr-1 ml-1" style="color: var(--danger)"></i>
                                     </button>
                                 </form>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style='font-size: 14px; margin-bottom: 28px' class="justify-content-center d-flex">
                {% if pets.has_other_pages %}
                 <ul class='pagination'>
                    {% if pets.has_previous %}
                       <li class='page-item'><a class='page-link' href='?pagina={{ pets.previous_page_number }}&query_string={{query_string}}'>Anterior</a></li>
                    {% else %}
                       <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
                    {% endif %}
                    {% for i in pets.paginator.page_range %}
                       {% if pets.number == i %}
                          <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                       {% else %}
                          <li class='page-item'><a class='page-link' href='?pagina={{ i }}&query_string={{query_string}}'>{{ i }}</a></li>
                       {% endif %}
                    {% endfor %}
                    {% if pets.has_next %}
                       <li class='page-item'><a class='page-link' href='?pagina={{ pets.next_page_number }}&query_string={{query_string}}'>Próxima</a></li>
                    {% else %}
                       <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
                    {% endif %}
                 </ul>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}